.MyNavbar {
 display: block;
}

.navbar {
  background-image: url('https://canucksbanter.files.wordpress.com/2016/09/cropped-images345.jpg');
  background-position: top;
  backdrop-filter: 150%;
}

.logo {
  width: 150px;
  height: 130px;
}